<p>item-transfer works!</p>
<hr>
<div class="item-transfer-container">
  <div class="list-container">
    <h3>Available Items</h3>
    <ul>
      <li *ngFor="let item of availableItems">
        {{ item }}
        <button (click)="transferToSelected(item)">Add &gt;</button>
      </li>
    </ul>
  </div>

  <div class="list-container">
    <h3>Selected Items</h3>
    <ul>
      <li *ngFor="let item of selectedItems">
        {{ item }}
        <button (click)="transferToAvailable(item)">&lt; Remove</button>
      </li>
    </ul>
  </div>
</div>
